# Server
PORT=8000
NODE_ENV=production

# Database PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pltd_logsheet
DB_USER=postgres
DB_PASSWORD=your_password_here

# JWT
JWT_SECRET=ganti_dengan_string_acak_yang_aman_sekali
JWT_EXPIRES_IN=24h

# File Upload
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=5242880
